@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

/* base styles */
* {
  margin: 0;
  color: #333;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.App {
  min-height: 120vh; /* Ensures it fills the full viewport height */
  background-color: #f7f2f2;
}

.content {
  margin: auto;
  padding: 20px;
  background-color: #f7f2f2;
}

.header {
  display: flex;
  flex-direction: column; /* Stack Navbar and Typewriter vertically by default */
}

.typewriterWrapper {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0%;
  backdrop-filter: blur(50px);
}

@media (max-width: 768px) { /* For larger screens */
  .typewriterWrapper {
    margin-top: 1rem;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
}

