@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

/* base styles */
* {
  margin: 0;
  color: #333;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Typewriter container */
.right-section {
  text-align: center; /* Aligns the typewriter text to the right */
}
