@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.navbar {
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f2f7f9;
}

.navbar a {
    text-decoration: none;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#navbar-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: last baseline;
  justify-content: space-around;
  max-width: 100%;
  width: max-content;
}

.roughbook {
  font-family: "Rock Salt", cursive;
  color: #f1356d;
  font-size: 4vw;
  white-space: nowrap;
  letter-spacing: 1px;
}

.pratham {
  font-family: "Cedarville Cursive", cursive;
  font-size: 2vw;
  color: rgba(0, 109, 119, 0.7);
  white-space: nowrap;
  letter-spacing: 2px;
  padding-left: 20px;
}
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    .roughbook {
      font-size: 8vw;
      max-width: 80%;
      text-align: left;
      margin-left: 0px;
    }
  
    .pratham {
      font-size: 5vw;
      margin-left: 50px;
    }
  }
  
  @media (max-width: 480px) {
    .roughbook {
      text-align: left;
      margin-left: 0px;
      font-size: 8vw; 
    }
  
    .pratham {
      font-size: 6vw;
    }
  }